<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author		Sashas
 * @category    Sashas
 * @package     Sashas_CustomerAttribute
 * @copyright   Copyright (c) 2015 Sashas IT Support Inc. (http://www.extensions.sashas.org) 
 */
-->
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
   <module name="Sashas_CustomerAttribute"  setup_version="1.0.0">
        <sequence>           
            <module name="Magento_Customer"/>  
        </sequence>   
   </module>
</config> 